<div id="<%= dom_id search_stat %>">
  <p>
    <strong>Keyword:</strong>
    <%= search_stat.keyword %>
  </p>

  <p>
    <strong>Ad count:</strong>
    <%= search_stat.ad_count %>
  </p>

  <p>
    <strong>Link count:</strong>
    <%= search_stat.link_count %>
  </p>

  <p>
    <strong>Total result count:</strong>
    <%= search_stat.total_result_count %>
  </p>

  <p>
    <strong>Raw response:</strong>
    <%= search_stat.raw_response %>
  </p>

  <p>
    <strong>User:</strong>
    <%= search_stat.user_id %>
  </p>

</div>
