<tr id="<%= dom_id search_stat %>">
  <td><%= search_stat.keyword %></td>
  <td><%= search_stat.ad_count %></td>
  <td><%= search_stat.link_count %></td>
  <td><%= search_stat.total_result_count %></td>
  <td><%= search_stat.raw_response %></td>
  <td><%= search_stat.user_id %></td>
</tr>
