<div class="container mt-4">
  <div class="d-flex flex-wrap align-items-center">
    <div class="mr-auto mb-2">
      <%= link_to search_stats_path, class: "btn btn-primary m-1" do %>
        Back
      <% end %>
    </div>
    <h4 class="mb-2"><%= I18n.t('search_stat.title') %></h4>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-3 mb-4"><%= I18n.t('search_stat.details_title') %></h5>
      <div class="row">
        <div class="col-md-4">
          <p class="card-text small">
            <strong><%= I18n.t('search_stat.keyword') %>:</strong>
            <%= @search_stat.keyword %>
          </p>

          <p class="card-text small">
            <strong><%= I18n.t('search_stat.ad_count_top') %>:</strong>
            <%= 1 %>
          </p>

          <p class="card-text small">
            <strong><%= I18n.t('search_stat.ad_count') %>:</strong>
            <%= @search_stat.ad_count %>
          </p>
        </div>
        <div class="col-md-4">
          <p class="card-text small">
            <strong><%= I18n.t('search_stat.non_ad_count') %>:</strong>
            <%= @search_stat.ad_count %>
          </p>

          <p class="card-text small">
            <strong><%= I18n.t('search_stat.link_count') %>:</strong>
            <%= @search_stat.link_count %>
          </p>

          <p class="card-text small">
            <strong><%= I18n.t('search_stat.total_result_count') %>:</strong>
            <%= @search_stat.total_result_count %>
          </p>
        </div>
        <div class="col-md-4">
          <p class="card-text small">
            <%= button_tag 'View Raw Response', class: 'btn btn-primary',
              onclick: "openRawResponse('#{j @search_stat.raw_response}')"%>
          </p>

          <p class="card-text small">
            <strong><%= I18n.t('search_stat.user') %>:</strong>
            <%= @search_stat.user_id %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">List of URLs of AdWords Advertisers in Top Position</h5>
      <ul class="list-group">
        <% @search_stat.result_links.ads_top.or(@search_stat.result_links.ads_page).each do |result_link| %>
          <li class="list-group-item">
            <%= link_to result_link.url, result_link.url, target: "_blank" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">List of URLs of Non-AdWords Results on the Page</h5>
      <ul class="list-group">
        <% @search_stat.result_links.non_ads.each do |result_link| %>
          <li class="list-group-item">
            <%= link_to result_link.url, result_link.url, target: "_blank" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<%= render 'raw_response_modal' %>
</div>
